.toggle {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 88px;
  margin-right: 6.25vw;
  z-index: 1;

  &__icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
}
