@use 'src/modules.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 29px 0px;
  margin: 0 6.25vw; /* 90px at 1440 */
  border-top: 2px solid #fe7139;
  margin-top: 53px;

  h2 {
    @include modules.open-sans-header-2;
    margin-bottom: 12px;
  }
}
