@use 'src/modules.scss';

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 8.819444444vw; /* 127px at screen width 1440 */
  margin-bottom: 61px;
  padding-left: 12px;
  margin-top: 56.77px;

  .square {
    @include modules.open-sans-header;
    font-weight: 400;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    left: -39px;
    background: #fe7139;
    color: white;
  }

  h1 {
    @include modules.open-sans-header;
    margin-right: 2rem;
  }
}
