@use 'src/font-styles.scss';

.my-nav {
  @include font-styles.open-sans-subheader;

  a {
    text-decoration: none;
    color: black;

    &.active {
      color: #fe7139;
      font-weight: 800;
    }
  }
}
