@use 'src/styles/font-styles.scss';
@use 'src/styles/colors.scss';

button.show-more {
  @include font-styles.open-sans-subheader;
  cursor: pointer;
  margin-top: 26px;
  margin-bottom: 53px;
  margin-left: 8.819444444vw; /* 127px at screen width 1440 */
  width: 104px;
  height: 34px;
  border: none;
  background: colors.$active;
  color: white;
}
