.article {
  position: relative;
  margin-left: 8.819444444vw; /* 127px at screen width 1440 */

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 26px;
  }

  &__number {
    position: absolute;
    top: 0;
    left: -30px;
  }

  &__title {
    margin-right: 12px;
  }

  &__metadata {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__save {
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      color: rgba(0, 0, 0, 0.5);
      margin: 0px 3px;
    }

    &:hover span,
    &.saved span {
      color: #fe7139;
    }
  }
}
