.article a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.article__number {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);

}

.article__title {
    font-family: "Ubuntu Mono";
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin: 0px 12px;
}

.article__source,
.article__metadata {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.article__metadata {
    display: flex;
    align-items: center;
}

.article__star {
    cursor: pointer;
}