.article a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.article__number {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.article__title {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin: 0px 12px;
}

.article__source,
.article__metadata {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.article__metadata {
  display: flex;
  align-items: center;
}

.article__star {
  cursor: pointer;
  display: flex;
}

.five-pointed-star {
  --star-color: orange;
  font-size: 1em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}

.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: '';
}
