.open-sans {
  font-family: 'Open Sans';
}

.ubuntu-mono {
  font-family: 'Ubuntu Mono';
}

.my-title {
  font-family: 'Ubuntu Mono';
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: black;
}

.my-number {
  @extend .my-title;
  color: rgba(0, 0, 0, 0.5);
}

.my-metadata {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.my-header {
  .square,
  h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0em;
    color: black;
  }

  .square {
    font-weight: 400;
    color: white;
  }
}

.my-footer-header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: black;
}

.my-nav {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: black;

  a {
    text-decoration: none;
    color: black;

    &.active {
      color: #fe7139;
      font-weight: 800;
    }
  }
}
